__pycache__/
*.pyc*
**/*.so
gas_corrections_lib/test/npy/
gas_corrections_lib/test/HICO/
gas_corrections_lib/test/PACE/**/*transmittance_comparison*.png
!gas_corrections_lib/test/PACE/reference_plots/*transmittance_comparison*.png